.env
.venv

__pycache__/
*.py[cod]

*.log
*.tmp
*.bak

venv/
env/

.DS_Store
Thumbs.db

.vscode/

*.mp3
*.mp4
*.webm
*.mkv
*.wav

downloads/

*.log
.DS_Store
Thumbs.db

cookies.txt
cookies_youtube.txt